* {
	margin: 0;
}
header {
	margin: 10px;
	padding: 10px;
	border-radius:40px;
	background-color:#FFCCE6;
	border: 2px solid #000000;
}
header img {
margin: 0 10px;
}
section {
	padding: 20px;
	margin: 10px;
	border: 2px solid #000000;
	border-radius: 30px;
}

article {
	margin: 10px;
	padding: 30px;
	border: 2px solid #000000;
}
.code_border {
	background-color: black;
	color: white;
	border-radius: 30px;
	padding: 20px;
}
.intro_border {
	border-radius: 30px;
	background-color: white;
	padding: 20px;
	border: 2px solid #000000;
}
div.default_border {
	border: 2px solid #000000;
	border-radius:10px;
	padding: 20px;
	background-color: #D4B886;
}
div.row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
div.right_col {
	float: right;
	vertical-align: middle;
	text-align: right;
	margin: auto;
padding: auto;
}
div.center_col {
	vertical-align: middle;
	text-align: center;
	margin: auto;
padding: auto;
}

div.left_col {
	float: left;
	vertical-align: middle;
	text-align: left;
	margin: auto;
padding: auto;
}
div.book_column {
		display: grid;
	grid-template-columns: 1fr 3fr;
}
div.book_row {
	display: grid;
	grid-template-rows: 1fr 3fr;
}
.menu_element {
	padding: 10px 0;
}
#introduction {
	display: grid;
	grid-template-rows: auto;
}
#introduction .intro_element {
	padding: 20px;
	margin: 10px;
}
.padding_for_language_name {
	padding:20px;
}
col.centered_menu_element {
	width: 100px;
}
td.text-aligner {
	text-align: center;
	font-size: 10px;
}
